# Environnements et secrets
.env
.envrc
.env.yaml
.env.sample
.venv/
env/
venv/

# Fichiers système et Python locaux
.python-version
**/__pycache__/
*.pyc
.pytest_cache/
*.egg-info/

# Dossiers inutiles en prod
tests/
notebooks/
berlue/interface/
data/

# Git
.git/
.gitignore
.github/

# Documentation
docker-compose.yml
Makefile
README.md

# Dépendances de développement
requirements_dev.txt
